#useDynLib(fsn, .registration = TRUE)

importFrom("stats", pchisq, optim, rpois, pnorm, cor, cov, var, optimize)
importFrom("Rfast", rowMins, colmeans, colsums, colVars)
importFrom("graphics", abline, contour, points)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")

export(bp.mle, rbp, bp.gof, bp.gof2, lambda3.profile, dbp, bp.contour)
